/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  position: relative;
  width: 100%;
  /* height: 100vh; */
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit:cover;
  z-index: -1;
}

.Nav {
  position: relative;
  z-index: 10;
  padding: 20px;
  color: white;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.2);
}

.Main {
  position: relative;
  z-index: 5;
  margin-top: 80px;
  padding: 20px;
  color: white;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.3);
  border:1px solid white;
}


@media only screen and (max-width:1169px){
}